version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Run tests
          command: |
            python -m unittest discover -s src/tests

workflows:
  build_and_test:
    jobs:
      - build
