version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.14
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-pip-cache-{{ checksum "requirements.txt" }}
            - v1-pip-cache-

      - run:
          name: Install dependencies
          command: |
            python3 -m pip install --upgrade pip
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ~/.cache/pip
          key: v1-pip-cache-{{ checksum "requirements.txt" }}

      - run:
          name: Run Spotify Analysis
          command: python3 run_analysis.py

workflows:
  version: 2
  build_and_run:
    jobs:
      - build